body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.text {
  font-size: 18px;
  font-family: "Source Sans Pro", "Cormorant Garamond", sans-serif, serif;
}