body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.text {
  font-size: large;
  font-family: "Cormorant Garamond", serif;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  font-size: larger;
}
